.search_box {
    outline: 0.1em solid black;
    position: relative;
    border-radius: 100vh;
    width: 1.5em;
    transition: width 350ms;
    overflow: hidden;
}


.search_box input {
    position: absolute;
    width: 12em;
    opacity: 0;
    outline: none;
    border: none;
    top: 0.1em;
    left: 0.3em;
    background: transparent;
    transition: opacity 350ms;
    font-size: inherit;
    cursor: pointer;
}

.search_box p {
    display: block;
    width: 1em;
    height: 1em;
    margin: 0 0 0 auto;
    padding: 0 0.5em 0.5em 0;
    border-radius: 100vh;
    overflow: hidden;
    font-size: inherit;
}


.search_box:focus-within {
    width: 12em;
}


.search_box:focus-within input{
    opacity: 1;
    cursor: text;
}